body{
  text-align: center;

}
canvas{
  position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
  border: 1px solid;
}
.score{
    position: absolute;
    top: 20%;
    left: 50%;
}
